.vscode/**
.omc/**
src/**
node_modules/**
.gitignore
esbuild.mjs
tsconfig.json
tsconfig.webview.json
vitest.config.ts
**/*.map
**/*.ts
!dist/**
!dist-webview/**
!l10n/**
!media/**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
